#GameAnchor{
    -fx-background-image: url("../../../MyShelfie/Resources/misc/sfondo_parquet.jpg");
    -fx-background-size:cover ;
}
#LoginAnchorPane{
    -fx-background-image: url("../../../MyShelfie/Resources/Publisher_material/Display_1.jpg");
    -fx-background-size:cover ;
}
#MatchTypePane{
    -fx-background-image: url("../../../MyShelfie/Resources/Publisher_material/Display_2.jpg");
    -fx-background-size:cover ;
}
#ConnectionType{
    -fx-background-image: url("../../../MyShelfie/Resources/Publisher_material/Display_1.jpg");
    -fx-background-size:cover ;
}
.open-sans{

}